.Testimonials{
    padding: 150px 80px 60px 80px;

}
.head-testimonials{
    text-align: center;
    justify-content: center;
    color:black;
    font-size: 55px;
    font-weight: 500;
    font-family: 'Martel', serif;
    
}
.testimonials-box{
    background-color: #132e55;
    height: 46%;
    width: 73%;
    /* margin: 60px auto ; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    padding: 50px  ;
}
.testimonials-box>img{
    margin: 10px auto;
    height: auto;
    width: 85%;
}
.testimonials-box>p{
    padding: 25px 0px;
    line-height: 1.42857143;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.8;
    font-family: 'Courgette';
    margin-left: 20px;
}

.testimonials-box>h4{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

